.container {
    font-family: 'Space Mono', monospace;
    justify-content: center;
    background-color: #E0EEFC;
}

.location_row {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.location_menu {
    flex-basis: 10%;
}
.location_menu img {
    max-width: 100%;
    max-height: 20px;
    padding-top: 28px
}
#location {
    font-size: 26px;
    text-align: center;
    padding-left: 2px;
}

.temp_row {
    display: grid;
    grid-template-columns: 150px 50px 1fr;
    grid-template-rows: 125px 25px 50px;
    width: 80%;
    border-style: solid;
    border-radius: 20px;
    margin: 0 auto;
    justify-content: center;
    max-height: 180px;
}
.temp_row h1 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    font-size: 64px;
}
.temp_row #hilo {
    font-size: 20px;
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.temp_row #up-arrow {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 100%;
    max-height: 20%;
    padding-top: 80%; 
}
.temp_row #conditions {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.visual-row {
    display: grid;
    text-align: right;
    justify-content: center;
}
.visual-row #pain-visual {
    max-height: 230px;
}
.visual-row #quicktip {
    position: absolute;
    left: 60%;
    max-width: 100px;
    word-wrap: break-word;
    font-size: 12px;
}

.double-widget-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.double-widget-row img {
    max-height: 200px;
}
#widget4 {
    padding-right: 5px; 
}
.single-widget-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-widget-row #widget3 {
    max-height: 400px;
}
.button-row {
    display:flex;
    justify-content: center;
    align-items: center; 
}
.button-row img {
    max-height: 100px;
    padding: 5px;
}



